In [25]:
import pandas as pd
import numpy as np

In [26]:
pd.isna(np.nan)

True

In [41]:
df = pd.read_csv('data/samples/sample_employer_info.csv')

In [42]:
df.head()

,Name Of Employer As Registered,Employer's TIN,Category Of Employer,Employer Status,Tax Identification No (TIN),Registration no. with Companies\nCommission of Malaysia (CCM) or\nothers,Correspondence address,Telephone no.,e-Mail,Furnish of C.P.8D,Number of employees as at 31/12/2025,Number of employees subjected to Monthly Tax Deduction (MTD),Number of new employees,Number of employees who ceased employed / died,Number of employees who ceased employment and left Malaysia,Reported to LHDNM (If No. 5 is applicable)
0,AET Shuttle Tankers Sdn Bhd,E 9116321301,PRIVATE SECTOR - COMPANY,IN OPERATION,C 22370201030,2.01001E+11,"LEVEL 23, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322674800,grouptax@miscbhd.com,VIA e-DATA Praisi / e-CP8D,NaN,NaN,NaN,NaN,NaN,NaN
1,MISC TANKERS SDN BHD,E 294468702,PRIVATE SECTOR - COMPANY,IN OPERATION,C 2888552100,198301001723,"LEVEL 30, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322753076,norzitas@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2.0,0.0,1.0,1.0,0.0,0.0
2,Puteri Firus Sdn Bhd,E 9130930608,PRIVATE SECTOR - COMPANY,IN THE PROCESS OF WINDING UP,C 6897371030,199401022619,"LEVEL 30, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322753076,norzitas@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2.0,0.0,0.0,0.0,0.0,0.0
3,Malaysia Offshore Mobile Production Dua (Labua...,E 9134959201,PRIVATE SECTOR - COMPANY,IN OPERATION,C 23515364080,LL09423,"UNIT LEVEL 13(A), MAIN OFFICE TOWER, FINANCIAL...",6087442816,priscilla.sendi@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2.0,0.0,0.0,0.0,0.0,0.0

In [47]:
df['Correspondence address'] = df['Correspondence address'].replace('KUTU', 'PERSEKUTUAN', regex=True)

In [51]:
df['Correspondence address'].iloc[3]

'UNIT LEVEL 13(A), MAIN OFFICE TOWER, FINANCIAL PARK LABUAN,JALAN MERDEKA 87000 LABUAN WILAYAH KUTU LABUAN'

In [36]:
def split_string(text, max_len=50) -> list[str]:
        words = text.split()
        parts = []
        current = ""

        for word in words:
            # If adding this word exceeds limit, push current and start new chunk
            if len(current) + len(word) + (1 if current else 0) > max_len:
                parts.append(current)
                current = word
            else:
                current = word if not current else current + " " + word

        # Append last part if non-empty
        if current:
            parts.append(current)

        return parts

In [20]:
# Convert first column to uppercase
df.loc[:, 'employer_name_split'] = df.loc[:, 'Name Of Employer As Registered'].str.upper().apply(lambda x: split_string(x, max_len=50))

In [23]:
# Split employer name if exceeds 50 characters
df.loc[:, 'Name Of Employer As Registered 1'] = df['employer_name_split'].apply(lambda x: x[0])
df.loc[:, 'Name Of Employer As Registered 2'] = df['employer_name_split'].apply(lambda x: x[1] if len(x) > 1 else '')
df.loc[:, 'Name Of Employer As Registered 3'] = df['employer_name_split'].apply(lambda x: x[2] if len(x) > 2 else '')

In [24]:
df.head()

,Name Of Employer As Registered,Employer's TIN,Category Of Employer,Employer Status,Tax Identification No (TIN),Registration no. with Companies\nCommission of Malaysia (CCM) or\nothers,Correspondence address,Telephone no.,e-Mail,Furnish of C.P.8D,Number of employees as at 31/12/2025,Number of employees subjected to Monthly Tax Deduction (MTD),Number of new employees,Number of employees who ceased employed / died,Number of employees who ceased employment and left Malaysia,Reported to LHDNM (If No. 5 is applicable),employer_name_split,Name Of Employer As Registered 1,Name Of Employer As Registered 2,Name Of Employer As Registered 3
0,MISC TANKERS SDN BHD,E 294468702,PRIVATE SECTOR - COMPANY,IN OPERATION,C 2888552100,1.98301E+11,"LEVEL 30, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322753076,norzitas@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2,0,1,1,0,0,[MISC TANKERS SDN BHD],MISC TANKERS SDN BHD,,
1,Puteri Delima Sdn Bhd,E 9130934803,PRIVATE SECTOR - COMPANY,IN THE PROCESS OF WINDING UP,C 6859921080,1.99401E+11,"LEVEL 30, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322753076,norzitas@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2,0,0,0,0,0,[PUTERI DELIMA SDN BHD],PUTERI DELIMA SDN BHD,,
2,Puteri Firus Sdn Bhd,E 9130930608,PRIVATE SECTOR - COMPANY,IN THE PROCESS OF WINDING UP,C 6897371030,1.99401E+11,"LEVEL 30, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322753076,norzitas@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2,0,0,0,0,0,[PUTERI FIRUS SDN BHD],PUTERI FIRUS SDN BHD,,
3,Malaysia Offshore Mobile Production Dua (Labua...,E 9134959201,PRIVATE SECTOR - COMPANY,IN OPERATION,C 23515364080,LL09423,"UNIT LEVEL 13(A), MAIN OFFICE TOWER, FINANCIAL...",6087442816,priscilla.sendi@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2,0,0,0,0,0,[MALAYSIA OFFSHORE MOBILE PRODUCTION DUA (LABU...,MALAYSIA OFFSHORE MOBILE PRODUCTION DUA (LABUAN),LTD (FKA GK O&M (L) LTD),