In [25]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv('data/samples/sample_employer_info.csv')

In [59]:
df.head()

,Name Of Employer As Registered,Employer's TIN,Category Of Employer,Employer Status,Tax Identification No (TIN),Registration no. with Companies\nCommission of Malaysia (CCM) or\nothers,Correspondence address,Telephone no.,e-Mail,Furnish of C.P.8D,Number of employees as at 31/12/2025,Number of employees subjected to Monthly Tax Deduction (MTD),Number of new employees,Number of employees who ceased employed / died,Number of employees who ceased employment and left Malaysia,Reported to LHDNM (If No. 5 is applicable)
0,Malaysia Offshore Mobile Production Dua (Labua...,E 9134959201,PRIVATE SECTOR - COMPANY,IN OPERATION,C 23515364080,LL09423,"UNIT LEVEL 13(A), MAIN OFFICE TOWER, FINANCIAL...",6087442816,priscilla.sendi@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2.0,0.0,0.0,0.0,0.0,0.0
1,AET Shuttle Tankers Sdn Bhd,E 9116321301,PRIVATE SECTOR - COMPANY,IN OPERATION,C 22370201030,201001037622,"LEVEL 23, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322674800,grouptax@miscbhd.com,VIA e-DATA Praisi / e-CP8D,NaN,NaN,NaN,NaN,NaN,NaN
2,MISC TANKERS SDN BHD,E 294468702,PRIVATE SECTOR - COMPANY,IN OPERATION,C 2888552100,198301001723,"LEVEL 30, MENARA DAYABUMI JALAN SULTAN HISHAMU...",60322753076,norzitas@miscbhd.com,VIA e-DATA Praisi / e-CP8D,2.0,0.0,1.0,1.0,0.0,0.0

In [64]:
def split_string(text, seperator=' ', max_len=50) -> list[str]:
        words = text.split(seperator)
        parts = []
        current = ""

        for word in words:
            # If adding this word exceeds limit, push current and start new chunk
            if len(current) + len(word) + (1 if current else 0) > max_len:
                parts.append(current)
                current = word
            else:
                current = word if not current else current + " " + word

        # Append last part if non-empty
        if current:
            parts.append(current)

        return parts

In [20]:
# Convert first column to uppercase
df.loc[:, 'employer_name_split'] = df.loc[:, 'Name Of Employer As Registered'].str.upper().apply(lambda x: split_string(x, max_len=50))

In [23]:
# Split employer name if exceeds 50 characters
df.loc[:, 'Name Of Employer As Registered 1'] = df['employer_name_split'].apply(lambda x: x[0])
df.loc[:, 'Name Of Employer As Registered 2'] = df['employer_name_split'].apply(lambda x: x[1] if len(x) > 1 else '')
df.loc[:, 'Name Of Employer As Registered 3'] = df['employer_name_split'].apply(lambda x: x[2] if len(x) > 2 else '')

In [67]:
split_string('Malaysia Offshore Mobile Production Dua (Labuan) Ltd (FKA GK O&M (L) Ltd)', seperator=' ', max_len=50)

['Malaysia Offshore Mobile Production Dua (Labuan)',
 'Ltd (FKA GK O&M (L) Ltd)']

In [69]:
split_string('UNIT LEVEL 13(A), MAIN OFFICE TOWER, FINANCIAL PARK LABUAN,JALAN MERDEKA', seperator=',', max_len=62)

['UNIT LEVEL 13(A)  MAIN OFFICE TOWER  FINANCIAL PARK LABUAN', 'JALAN MERDEKA']